html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline; }

a {
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus {
  outline: 0; }

img, audio, video {
  max-width: 100%;
  height: auto; }

audio, canvas, iframe, video, img, svg {
  vertical-align: middle; }

iframe {
  border: 0; }

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

input, textarea, select, button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0;
  text-align: left; }

body {
  font-family: "Segoe UI", sans-serif;
  background: #ffffff;
  color: #ffffff;
  line-height: 1.2;
  font-weight: mainFontWeight;
  font-size: 14px; }

header {
  background-color: #223b7e; }
  header .header-wrapper {
    width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 95px;
    margin: 0 auto; }
    header .header-wrapper h2 {
      font-weight: bold;
      font-size: 30px; }
    header .header-wrapper nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header .header-wrapper nav a {
        color: #ffffff; }
    header .header-wrapper .challenge-button {
      color: #ffffff;
      border: 1px solid #1c8ece;
      border-radius: 30px;
      padding: 13px 30px;
      text-transform: uppercase; }
    header .header-wrapper .select-wrapper {
      overflow: hidden;
      width: 18px;
      background: url(/static/images/arrow.png) no-repeat #223b7e; }
      header .header-wrapper .select-wrapper .select-lang {
        color: #ffffff;
        background: transparent;
        appearance: none;
        cursor: pointer;
        width: 34px; }

.introduction {
  background-color: #0072bc; }
  .introduction .introduction-wrapper {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; }
    .introduction .introduction-wrapper .to-bottom {
      width: 25px;
      height: 40px;
      border: 2px solid #fff;
      border-radius: 25px;
      position: absolute;
      bottom: -60px;
      background: transparent; }
      .introduction .introduction-wrapper .to-bottom:after {
        content: '';
        background: url(/static/images/scroll.png);
        position: absolute;
        width: 6px;
        height: 10px;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        animation: tobottom 1.5s infinite; }

@keyframes tobottom {
  100% {
    opacity: 0;
    top: 22px; } }

/*# sourceMappingURL=style.css.map */
