.about {
    background-color: $about-bg-color;

    .about-wrapper {
        padding-top: 75px;
        width: $mainWrapperWidth;
        color: $secondaryFontColor;
        margin: 0 auto;

        h2 {
            text-transform: uppercase;
            font-size: 36px;
            text-align: center;
            padding-bottom: 60px;
        }

        .about-sections-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .about-section {
                width: 250px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}