// Font
$mainFont                : 'Segoe UI', sans-serif;

// Main
$mainFontColor           : #1c8ece;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.2;

// Fonts
$secondaryFontColor      : #223b7e;
$lightFontColor          : #3697d1;

// Size
$desktopWidth            : 1280px;
$tableWidth              : 768px;
$phoneWidth              : 480px;

// Backgrond color
$default-bg-color        : #ffffff;
$primary-bg-color        : #0072bc;
$about-bg-color          : #e8f3fa;
$header-bg-color         : #223b7e;

// Border Color
$border-base             : #223b7e;
$border-light            : #3697d1;
